/* App.css */
body {
   font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
   background-color: #cce8f3;
}

textarea, input {
   font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

input[type="checkbox"] {
   transform: scale(1.5);
   cursor: pointer;
}

.top-add-todo-button {
   background-color: #007bff;
   color: white;
   border: none;
   padding: 8px 10px;
   margin-left: 25px;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.add-todo-button-footer {
   background-color: #007bff;
   color: white;
   border: none;
   padding: 8px 10px;
   margin: 2px 0 0 0;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

h1 {
   max-width: 400px;
   margin: 0 auto;
   text-align: center;
   color: #555;
   margin-top: 15px;
   margin-bottom: 10px;
}

.edit-input {
   text-align: left;
   width: 90%;
   border-radius: 3px;
}

.todo-text {
   cursor: pointer;
}

.todo-list {
   max-width: 400px;
   margin: 0 auto;
   padding-bottom: 30px;
}
 
.todo-item {
   align-items: center;
   justify-content: space-between;
   background-color: #f8f9fa;
   color: #333;
   padding: 12px;
   border-radius: 4px;
   margin-bottom: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   width: 100%;
   max-width: 100%;
}



.todo-content:has(:checked) .todo-text {
   color: #666;
   text-decoration: line-through;
}

.todo-content {
   display: flex;
   justify-content: space-between;
   width: 100%;
}

.todo-text-container {
   display: flex;
   flex-direction: column;
   padding: 0 5px 0 0;
}

.due-date {
   padding-top: 2px;
   font-size: 0.85rem;
   color: #888;
}

/* left algin todo items */
.todo-item div {
   flex: 1;
   margin: 0;
}
 
.todo-item div.completed {
   text-decoration: line-through;
   color: #888;
}

.todo-item .edit-button {
   background-color: #888;
   color: white;
   border: none;
   padding: 6px 12px;
   border-radius: 4px;
   margin-right: 5px;
   cursor: pointer;
   transition: background-color 0.1s ease;
}

.todo-item .edit-button:hover {
   background-color: #007cf9bf;
}
 
.todo-item .delete-button {
   background-color: #888;
   color: white;
   border: none;
   padding: 6px 12px;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.1s ease;
}
 
.todo-item .delete-button:hover {
   background-color: #af2432;
}

.todo-item input[type="checkbox"] {
   margin-right: 12px;
}

.container {
   width: 100%;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 10px;
   max-width: 450px;
   margin: 0 auto;
}

.new-todo-input {
   width: 100%;
   max-width: 400px;
   margin: 0 auto;
   padding: 8px;
   border: 1px solid #ccc;
   border-radius: 4px;
   margin-bottom: 20px;
}

.filter-select {
   padding: 8px;
   border-radius: 4px;
   border: 1px solid #ccc;
   margin-left: auto;
}
